@font-face {
  font-family: "Lato";
  src: url(".//fonts/Lato-BoldItalic.woff2") format("woff2"), url(".//fonts/Lato-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url(".//fonts/Lato-Bold.woff2") format("woff2"), url(".//fonts/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dusha";
  src: url(".//fonts/DushaRegular.woff2") format("woff2"), url(".//fonts/DushaRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url(".//fonts/Lato-Italic.woff2") format("woff2"), url(".//fonts/Lato-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url(".//fonts/Lato-Light.woff2") format("woff2"), url(".//fonts/Lato-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url(".//fonts/Lato-LightItalic.woff2") format("woff2"), url(".//fonts/Lato-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url(".//fonts/Lato-Regular.woff2") format("woff2"), url(".//fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url(".//fonts/Lato-Semibold.woff2") format("woff2"), url(".//fonts/Lato-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url(".//fonts/Lato-SemiboldItalic.woff2") format("woff2"), url(".//fonts/Lato-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Chelsea Basis";
  src: url(".//fonts/ChelseaBasis-Medium.woff2") format("woff2"), url(".//fonts/ChelseaBasis-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Chelsea Basis";
  src: url(".//fonts/ChelseaBasis-Bold.woff2") format("woff2"), url(".//fonts/ChelseaBasis-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Chelsea Basis";
  src: url(".//fonts/ChelseaBasis-Regular.woff2") format("woff2"), url(".//fonts/ChelseaBasis-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  line-height: 1.7em;
  margin: 0;
  color: #272946;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: black;
  transition: all 150ms ease-in-out;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 20px;
  font-family: "Chelsea Basis", sans-serif;
  font-size: 26px;
}
@media (max-width: 480px) {
  h2 {
    padding: 20px 0;
    font-size: 22px;
  }
}

h3 {
  font-size: 26px;
}

.button {
  padding: 10px 15px;
  background-color: transparent;
  border-radius: 25px;
  line-height: 1em;
  transition: all 150ms ease-in-out;
}
.button.c1 {
  color: #154c79;
  border: 3px solid #154c79;
}
.button.c1:hover {
  background-color: #154c79;
  color: #ffffff;
}
.button.c2 {
  color: #91dae8;
  border: 3px solid #91dae8;
}
.button.c2:hover {
  background-color: #91dae8;
  color: #000000;
}

header {
  position: sticky;
  top: 0;
  z-index: 3;
}
@media (max-width: 640px) {
  header {
    position: relative;
  }
}

.navbar {
  background-color: #154c79;
  border-bottom: 3px solid #ffffff;
  padding: 1rem 0;
}
.navbar .navbar-content ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}
.navbar .navbar-content ul li {
  margin-right: 3rem;
  cursor: pointer;
  font-size: 20px;
}
@media (max-width: 640px) {
  .navbar .navbar-content ul li {
    display: none;
  }
}
.navbar .navbar-content ul li a {
  color: #ffffff;
  transition: all 150ms ease-in-out;
}
.navbar .navbar-content ul li:last-child {
  margin-right: 0;
}
.navbar .navbar-content ul li.left {
  margin-right: auto;
}
@media (max-width: 640px) {
  .navbar .navbar-content ul li.left {
    display: flex;
    margin-left: auto;
  }
}
.navbar .navbar-content ul li:hover:not(.left) a:not(.button) {
  color: #91dae8;
}
.navbar .navbar-content ul .logo img {
  transition: all 150ms ease-in-out;
  width: 50px;
  height: auto;
}
.navbar .navbar-content ul .logo img:hover {
  opacity: 0.4;
}

section {
  padding: 70px 0;
}

.hdp .banner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 960px) {
  .hdp .banner-content {
    flex-direction: column;
  }
}
.hdp .banner-content div {
  width: 49%;
  display: flex;
  justify-content: center;
}
@media (max-width: 960px) {
  .hdp .banner-content div {
    width: 100%;
  }
}
.hdp .banner-content div h1 {
  text-align: center;
  max-width: 70%;
  font-size: 40px;
  color: #154c79;
  line-height: 1.2em;
}
@media (max-width: 960px) {
  .hdp .banner-content div h1 {
    max-width: 100%;
  }
}
.hdp .banner-content div h1 strong {
  font-size: 30px;
  color: #91dae8;
}
@media (max-width: 480px) {
  .hdp .banner-content div h1 {
    font-size: 30px;
  }
  .hdp .banner-content div h1 strong {
    font-size: 22px;
  }
}
.hdp .banner-content figure {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #154c79;
}
@media (max-width: 480px) {
  .hdp .banner-content figure {
    display: none;
  }
}
.hdp .banner-content figure img {
  width: 300px;
  object-fit: cover;
}
.hdp .presentation {
  padding-top: 3rem;
}
@media (max-width: 640px) {
  .hdp .presentation {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .hdp .presentation {
    padding-top: 1rem;
  }
}
.hdp .presentation span {
  font-size: 20px;
  line-height: 1.4em;
}

.cursus {
  background-color: #91dae8;
}
.cursus h2 {
  color: #154c79;
}
.cursus .cursus-content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 960px) {
  .cursus .cursus-content {
    flex-direction: column;
  }
  .cursus .cursus-content .formations {
    margin-bottom: 3rem;
  }
}
.cursus .cursus-content div {
  width: 49%;
  align-items: center;
  display: flex;
  justify-content: start;
  flex-direction: column;
}
@media (max-width: 960px) {
  .cursus .cursus-content div {
    width: 100%;
  }
}
.cursus .cursus-content div .table {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  margin-top: 3rem;
}
@media (max-width: 480px) {
  .cursus .cursus-content div .table {
    margin-top: 1rem;
  }
}
.cursus .cursus-content div .table .date {
  font-weight: bold;
  text-align: center;
  width: 100%;
  font-size: 22px;
  color: #154c79;
  display: flex;
  height: 100%;
  justify-content: start;
}
@media (max-width: 480px) {
  .cursus .cursus-content div .table .date {
    font-size: 20px;
  }
}
.cursus .cursus-content div .table .table-content {
  display: flex;
  width: 100%;
  text-align: left;
}
.cursus .cursus-content div .table .table-content span {
  width: 100%;
  margin-left: 1rem;
  position: relative;
}
.cursus .cursus-content div .table .table-content span:before {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  background-color: #154c79;
  top: 12px;
  left: -45px;
}
@media (max-width: 1280px) {
  .cursus .cursus-content div .table .table-content span:before {
    display: none;
  }
}
.cursus .cursus-content div .table .table-content p {
  margin: 0;
}
.cursus .cursus-content div .table .table-content p.event {
  font-size: 20px;
}
.cursus .cursus-content div .table .table-content p.sub {
  font-size: 16px;
  opacity: 0.8;
}
@media (max-width: 480px) {
  .cursus .cursus-content div .table {
    display: flex;
    flex-direction: column;
  }
  .cursus .cursus-content div .table .table-content span,
  .cursus .cursus-content div .table .table-content p {
    text-align: center;
    margin-left: 0;
  }
}

.competences {
  background-color: #154c79;
  color: #91dae8;
}
.competences h2 {
  text-align: center;
}
.competences .competences-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  text-align: center;
  gap: 1rem;
  margin-top: 3rem;
}
@media (max-width: 960px) {
  .competences .competences-content {
    display: flex;
    flex-direction: column;
  }
}
.competences .competences-content .front,
.competences .competences-content .back,
.competences .competences-content .tools {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 2rem;
}
@media (max-width: 960px) {
  .competences .competences-content .front,
  .competences .competences-content .back,
  .competences .competences-content .tools {
    flex-direction: column-reverse;
  }
}
.competences .competences-content .front h3,
.competences .competences-content .back h3,
.competences .competences-content .tools h3 {
  margin-top: 2rem;
  margin-bottom: 0;
  font-size: 20px;
  color: #154c79;
}
@media (max-width: 960px) {
  .competences .competences-content .front h3,
  .competences .competences-content .back h3,
  .competences .competences-content .tools h3 {
    margin-bottom: 2rem;
    margin-top: 0;
  }
}
.competences .competences-content img {
  max-height: 50px;
  width: auto;
  margin: 0 1rem;
  margin-bottom: 1rem;
}
.competences .competences-content .logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  height: 100%;
  align-content: center;
}
.competences .competences-content .logos i {
  font-size: 50px;
  margin: 0 1rem;
  margin-bottom: 1rem;
}

.projets {
  background-color: #91dae8;
}
.projets h2 {
  text-align: center;
}
.projets .projets-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  flex-wrap: wrap;
}
.projets .projets-content .projet {
  width: 30%;
  margin-bottom: 3rem;
  background-color: #154c79;
  padding: 1rem;
  position: relative;
  transition: all 150ms ease-in-out;
  position: relative;
  border-radius: 25px;
  z-index: 2;
}
@media (max-width: 1280px) {
  .projets .projets-content .projet {
    width: 48%;
  }
}
@media (max-width: 640px) {
  .projets .projets-content .projet {
    width: 100%;
  }
}
.projets .projets-content .projet figure {
  overflow: hidden;
  width: 100%;
  height: 200px;
  margin: 0;
  border-radius: calc(25px - 1rem) calc(25px - 1rem) 0 0;
}
@media (max-width: 480px) {
  .projets .projets-content .projet figure {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.projets .projets-content .projet img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  transition: all 150ms ease-in-out;
}
.projets .projets-content .projet .content {
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
@media (max-width: 480px) {
  .projets .projets-content .projet .content h3 {
    font-size: 18px;
  }
  .projets .projets-content .projet .content span {
    font-size: 16px;
  }
}
.projets .projets-content .projet .content h3 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.projets .projets-content .projet .content span {
  margin: 0;
  opacity: 0.8;
  line-height: 1.1em;
}
.projets .projets-content .projet:hover {
  cursor: pointer;
  opacity: 0.85;
}
.projets .projets-content .projet:hover img {
  transform: scale(1.05);
}
.projets .projets-content .popupContainer {
  position: fixed;
  z-index: 50;
  background-color: rgba(39, 41, 70, 0.85);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
}
.projets .projets-content .popupContainer.active {
  display: block;
}
.projets .projets-content .popupContainer .wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}
.projets .projets-content .popupContainer .wrapper .popupCover {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}
.projets .projets-content .popupContainer .wrapper .popupContent {
  position: relative;
  z-index: 3;
  background-color: #ffffff;
  width: 70%;
  height: 70%;
  padding: 3rem;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
  overflow-x: hidden;
}
.projets .projets-content .popupContainer .wrapper .popupContent .popupClose {
  font-size: 26px;
  color: rgba(39, 41, 70, 0.6);
  top: 3rem;
  right: 3rem;
  cursor: pointer;
  position: absolute;
  z-index: 5;
  transition: all 150ms ease-in-out;
}
.projets .projets-content .popupContainer .wrapper .popupContent .popupClose:hover {
  color: #154c79;
}
.projets .projets-content .popupContainer .wrapper .popupContent .popupTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.projets .projets-content .popupContainer .wrapper .popupContent .popupTitle h3 {
  margin: 0;
}
.projets .projets-content .popupContainer .wrapper .popupContent .popupText {
  display: flex;
  flex-direction: column;
}
.projets .projets-content .popupContainer .wrapper .popupContent .popupText strong {
  margin: 1rem 0;
}
.projets .projets-content .popupContainer .wrapper .popupContent .popupText strong:first-child {
  margin-top: 0;
}
.projets .projets-content .popupContainer .wrapper .popupContent .popupText a {
  transition: all 150ms ease-in-out;
  margin-top: 1rem;
  display: flex;
  width: fit-content;
  align-items: center;
}
.projets .projets-content .popupContainer .wrapper .popupContent .popupText a i {
  margin-right: 10px;
  font-size: 20px;
}
.projets .button {
  margin-top: 3rem;
  display: flex;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.contact {
  text-align: center;
}
.contact h2 {
  color: #154c79;
  margin-bottom: 3rem;
}
.contact .button {
  display: flex;
  align-items: center;
  width: fit-content;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.contact .button i {
  margin-left: 20px;
}
@media (max-width: 480px) {
  .contact .button i {
    display: none;
  }
}

footer {
  background-color: #154c79;
  color: #ffffff;
  padding: 3rem 0;
  text-align: center;
}
footer .footer-content {
  display: flex;
  flex-direction: column;
}
footer .footer-content .links a {
  transition: all 150ms ease-in-out;
  margin-right: 1rem;
}
footer .footer-content .links a:last-child {
  margin-right: 0;
}
footer .footer-content i {
  font-size: 30px;
  transition: all 150ms ease-in-out;
}
footer .footer-content i:hover {
  opacity: 0.5;
}
footer .footer-content a {
  color: #ffffff;
  text-decoration: underline;
}
footer .footer-content a:hover {
  color: #91dae8;
}
footer .footer-content > * {
  margin-bottom: 1rem;
}
footer .footer-content > *:last-child {
  margin-bottom: 0;
}

.inner {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3rem;
  padding-right: 3rem;
}

/*# sourceMappingURL=style.css.map */
