* {
  font-family: $ff-body;
  box-sizing: border-box;
  font-size: $fsz-body;
}

body {
  line-height: 1.7em;
  margin: 0;
  color: $body-color;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: black;
  transition: 0.3s ease;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 20px;
  letter-spacing: 2px;
  font-family: $ff-title;
  font-size: 26px;
}

h3 {
  font-size: 26px;
}

.button {
  padding: 10px 15px;
  background-color: transparent;
  border-radius: $radius;
  line-height: 1em;
  transition: all ease-in-out 0.3s;

  &.c1 {
    color: $color-1;
    border: 3px solid $color-1;

    &:hover {
      background-color: $color-1;
      color: #ffffff;
    }
  }

  &.c2 {
    color: $color-2;
    border: 3px solid $color-2;

    &:hover {
      background-color: $color-2;
      color: #000000;
    }
  }
}

// STYLE SITE //

header {
  position: sticky;
  top: 0;
  z-index: 3;
}

.navbar {
  background-color: $color-1;
  border-bottom: 3px solid #ffffff;
  padding: $small-value 0;

  .navbar-content {
    ul {
      display: flex;
      justify-content: space-between;
      width: 100%;
      justify-content: flex-end;
      align-items: center;

      li {
        margin-right: $large-value;
        cursor: pointer;
        font-size: 20px;
        transition: all ease-in-out 0.3s;
        a {
          color: #ffffff;
        }

        &:last-child {
          margin-right: 0;
        }

        &.left {
          margin-right: auto;
        }

        &:hover {
          &:not(.left) {
            border-bottom: 2px solid $color-2;
          }
        }
      }

      .logo {
        img {
          transition: all ease-in-out 0.3s;
          width: 50px;
          height: auto;
          &:hover {
            opacity: 0.4;
          }
        }
      }
    }
  }
}

section {
  padding: $space-between-section;
}

.hdp {
  .banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      width: 49%;
      display: flex;
      justify-content: center;

      h1 {
        text-align: center;
        max-width: 60%;
        font-size: 26px;
        color: $color-1;
        line-height: 1.5em;

        strong {
          font-size: 40px;
          color: $color-2;
        }
      }
    }

    figure {
      width: 200px;
      height: 200px;
      border-radius: 100%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 5px solid $color-1;

      img {
        width: 300px;
        object-fit: cover;
      }
    }
  }

  .presentation {
    padding-top: $large-value;
  }
}

.cursus {
  background-color: $color-2;
  h2 {
    color: $color-1;
  }

  .cursus-content {
    display: flex;
    justify-content: space-between;

    div {
      width: 49%;
      align-items: center;
      display: flex;
      justify-content: start;
      flex-direction: column;

      .table {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
        margin-top: $large-value;

        .date {
          font-weight: bold;
          text-align: center;
          width: 100%;
          font-size: 22px;
          color: $color-1;
          display: flex;
          height: 100%;
          justify-content: start;
        }

        .table-content {
          display: flex;
          width: 100%;
          text-align: left;

          span {
            width: 100%;
            margin-left: $small-value;
            position: relative;

            &:before {
              position: absolute;
              content: "";
              width: 30px;
              height: 4px;
              background-color: $color-1;
              top: 10px;
              left: -45px;
            }
          }

          p {
            margin: 0;

            &.event {
              font-size: 20px;
            }

            &.sub {
              font-size: 16px;
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}

.competences {
  background-color: $color-1;
  color: $color-2;

  h2 {
    text-align: center;
  }

  .competences-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    text-align: center;
    gap: $small-value;
    margin-top: $large-value;

    .front,
    .back,
    .tools {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      background-color: #ffffff;
      border-radius: $radius;
      padding: $medium-value;

      h3 {
        margin-top: $medium-value;
        margin-bottom: 0;
        font-size: 20px;
        color: $color-1;
      }
    }

    .logos {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0;
      height: 100%;
      align-content: center;

      i {
        font-size: 50px;
        margin: 0 $small-value;
        margin-bottom: $small-value;
      }
    }
  }
}

.projets {
  background-color: $color-2;

  h2 {
    text-align: center;
  }

  .projets-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: $large-value;

    .projet {
      width: 45%;
      background-color: $color-1;
      padding: $small-value;
      position: relative;
      transition: all ease-in-out 0.3s;
      position: relative;
      border-radius: $radius;

      figure {
        overflow: hidden;
        width: 100%;
        height: 280px;
        margin: 0;

        $radiusFigure: calc($radius - $small-value);
        border-radius: $radiusFigure $radiusFigure 0 0 ;
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 280px;
        transition: all ease-in-out 0.3s;
      }

      .content {
        color: #ffffff;
        display: flex;
        flex-direction: column;

        h3 {
          margin-bottom: $small-value;
        }

        span {
          margin: 0;
          opacity: 0.8;
          line-height: 1.1em;
        }
      }

      &:hover {
        cursor: pointer;
        opacity: 0.85;

        img {
          transform: scale(1.05);
        }
      }
    }
  }
}

.contact {
  text-align: center;

  h2 {
    color: $color-1;
  }

  form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin-left: auto;
    margin-top: $large-value;
    margin-right: auto;

    input {
      margin-bottom: $small-value;
      padding: $small-value * 0.7;
      border-radius: $radius;
      border: 2px solid $color-1;
    }

    textarea {
      border-radius: $radius;
      border: 2px solid $color-1;
      margin-bottom: $large-value;
      padding: $small-value * 0.7;
    }
  }
}

footer {
  background-color: $color-1;
  color: #ffffff;
  padding: $large-value 0;
  text-align: center;

  .footer-content {
    display: flex;
    flex-direction: column;

    .links {
      a {
        transition: 0.3s ease;
        margin-right: $small-value;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    i {
      font-size: 30px;
      transition: 0.3s ease;

      &:hover {
        opacity: 0.5;
      }
    }

    a {
      color: #ffffff;
      text-decoration: underline;

      &:hover {
        color: $color-2;
      }
    }

    > * {
      margin-bottom: $small-value;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
